/Java/coleccionDin/nbproject/private/
/Java/Conjuntos/nbproject/private/
/Java/Conjuntos/build/
/Java/conjuntosPOO/nbproject/private/
/Java/conjuntosPOO/build/
/Java/evaluaciones/nbproject/private/
/Java/evaluaciones/build/
/Java/lab02ConjuntosPOO/nbproject/private/
/Java/lab02ConjuntosPOO/build/
/Java/evaluaciones/dist/
